<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main class="container my-4">
      <h1>Settings & Security</h1>
      <p>Change password or enable two-factor authentication (placeholder).</p>
      <a class="btn btn-outline-primary" href="#">Change Password</a>
    </main>
    <script src="/js/ui.js"></script>
  </body>
</html>
